@model BookModel
@{
    ViewData["Title"] = "Detail";
}

@* TODO: Make this look good *@
<div class="container">
    <h2>@Model.Name</h2>
    <p>Owner: @Model.User.LastName</p>
    <p>Sector: @Model.Sector.Name</p>
    <p>Course: @Model.Course.Name</p>
    <p>Price: <span class="price">@Model.Price</span></p>
    <p>QualityRating: @Model.QualityRating</p>
</div>